body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*
#116466
#D1E8E2
 */

/* Menu */

.bg-dark {
    background-image: linear-gradient(to right, #333, #777);
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #D1E8E2;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .active > .nav-link {
    font-weight: bold;
    color: #116466 !important;
}

.btn-outline-success {
    color: #116466;
    font-weight: bold;
    background-color: #ddd;
    background-image: none;
    border-color: #116466;
}

.btn-outline-success:hover {
    background-color: #116466;
    border-color: #116466;
}

img {
    width: 100%;
    object-fit: cover;
    /*border-radius: 5px;*/
}

.page-container {
    background-image: linear-gradient(to bottom right, #bbc, #fff, #bbc);
    padding: 20px;
    /*height: 1000px;*/
}

.footer {
    background-color: #333;
    color: #aaa;
}

.footer-content {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 20%;
}

.footer-link {
    color: #a9a;
}

.footer-link:visited {
    color: #aaa;
}

.footer-link:hover, .footer-link:visited:hover {
    color: #555;
    text-decoration: none;
}

.row, .col-lg {
    margin: 20px auto;
}

.image-link img {
    height: 15em;
    border-radius: 10px 10px 0 0;
    border-bottom: 2px solid gray;
}

.image-link-container {
    box-shadow: 5px 3px 20px gray;
    border: 1px solid gray;
    border-radius: 10px;
}

.image-link:hover, .image-link:visited:hover {
    opacity: 0.8;
    text-decoration: none;
    color: #333;
}

.image-link {
    color: #333;
    text-decoration: none;
}

.image-link h3 {
    margin: 10px 15px;
}

.p-long {
    visibility: collapse;
    padding: 0;
    height: 0;
    margin: 0;
}

@media only screen and (min-width: 961px) {

    .col-lg {
        margin: 20px;
    }

    .p-long {
        visibility: visible;
    }

    .p-short {
        visibility: collapse;
    }

    .image-link img {
        height: 25em;
    }

    .three-col-image img {
        height: 17em;
    }

    .three-col {
        margin: 5px;
    }

    .three-col-image div h3 {
        font-size: 1.5em;
    }
}